<div class="row" >
    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        <div class="box" >
            <h1>
                Experiencia Laboral 
            </h1>
            <div class="text-center"  >
                <div *ngIf="isAdmin">
                    <button type="button" class="btn btn-success" (click)="onOpenModal('add')">
                        <a class="nav-link" style="color:#fff">
                        Añadir Experiencia <span class="sr-only">(current)</span> </a>
                    </button>
                </div>
            </div>
            <div id="main-container">
                <div *ngFor="let experiencia of experiencias ">
                    <div class="container">
                        <div class="row align-center">
                            <div class="col-lg-6">
                                <h3>{{experiencia.tituloExp}}</h3>
                                <p>{{experiencia.descExp}}</p>
                            </div>
                            <div class="col-lg-3">
                                

                            </div>
                            <div class="col-lg-1">
                                <h3>{{experiencia.fechaExp}}</h3>

                            </div>

                            <div class="col text-center">
                                
                              <div *ngIf="isAdmin">
                                <a
                                (click)="onOpenModal('delete', experiencia)"
                                class="btn btn-secondary tooltips edit" 
                                data-placement="top" 
                                data-toogle="tooltip" 
                                data-original-title="Delete"
                                ><i class="fa fa-times"></i>
                            </a>



                            <a 
                                (click)="onOpenModal('edit', experiencia)"
                                class="btn btn-primary tooltips edit" 
                                data-placement="top" 
                                data-toogle="tooltip" 
                                data-original-title="Edit"
                                ><i class="fa fa-pencil"></i>
                            </a>

                              </div>
                                

                                
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Employee Modal -->

<div class="modal fade" id="addExperienciaModal" tabindex="-1" role="dialog"  aria-labelledby="addExperienciaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExperienciaModalLabel">Añadir Experiencia</h5>
                <button
                type="button" class="close" data-dismiss="modal" aria-label="Close"
                >
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddExperiencia(addForm)">
                    <div class="form-group">
                        <label for="tituloExp">Puesto</label>
                        <input type="text" ngModel name="tituloExp" class="form-control" id="tituloExp" placeholder="Puesto" required>
                    </div>
    
                    <div class="form-group">
                        <label for="fechaExp">Fecha</label>
                        <input type="text" ngModel name="fechaExp" class="form-control" id="fechaExp" placeholder="Fecha" required>
                    </div>
    
                    <div class="form-group">
                        <label for="descEdu">Descripcion</label>
                        <input type="text" ngModel name="descExp" class="form-control" id="descExp" placeholder="Descripcion" required>
                    </div>

                    <div class="modal-footer">
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary"> Añadir cambios</button>

                        <button type="button" id="add-experiencia-form" class="btn btn-secondary" data-dismiss="modal"
                        > Cancelar </button>
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div>  


<!-- Edit Modal -->
<div class="modal fade"  id="editExperienciaModal" tabindex="-1" role="dialog" aria-labelledby="editExperienciaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editExperienciaModalLabel" >
                    Editar Experiencia {{editExperiencia?.tituloExp}}
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="nombre">Puesto u Oficio</label>
                        <input type="text" ngModel="{{ editExperiencia?.tituloExp }}" name="tituloExp" class="form-control" id="tituloExp" aria-describedby="emailHelp" placeholder="Puesto" >
                    </div>
                    <input type="hidden" ngModel="{{editExperiencia?.idExp}}" name="idExp" class="form-control" id="idExp" placeholder="">

                    <div class="form-group">
                        <label for="descEdu">Descripcion Experiencia</label>
                        <input type="text" ngModel="{{ editExperiencia?.descExp }}" name="descExp" class="form-control" id="descExp"  placeholder="Descripcion" >
                    </div>

                    <div class="form-group">
                        <label for="fecha">Fecha</label>
                        <input type="text" ngModel="{{ editExperiencia?.fechaExp}}" name="fechaExp" class="form-control" id="fechaExp"  placeholder="Fecha" >
                    </div>

                    <div class="modal-footer">
                        <button (click)="onEditExperiencia(editForm.value)" data-dismiss="modal" class="btn btn-primary"
                        > Guardar Cambios</button>

                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary"
                        >Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 


<!-- Delete Modal -->

<div data-bs-toggle="modal" data-bs-target="#deleteModalLabel" class="modal fade" id="deleteExperienciaModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel" >Borrar Experiencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                >
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Estás seguro de que deseas eliminar 
                    {{deleteExperiencia?.tituloExp}}?
                </p>
                <div class="modal-footer">
                    <button 
                        (click)="onDeleteExperiencia(deleteExperiencia!.idExp)" class="btn btn-danger" data-dismiss="modal"
                    > Si </button>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    > No </button>
                </div>
            </div>
        </div>
    </div>
</div> 

<!-- Notificacion -->
<div class="row" *ngIf="isLogged">
    <div class="col-lg-1"></div>
    <div *ngIf="experiencias?.length == 0" class="col-lg-12 col-md-12 col-xl-10 text-center ">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Sin Experiencias!</h4>
            <p>No se ha encontrado ninguna experiencia cargada.</p>
        </div>
    </div>
</div> 