<div class="row" >
    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        <div class="box" >
            <h1>
                Formación Académica
            </h1>
            <div class="text-center"  *ngIf="isAdmin">
                <div *ngIf="isLogged">
                    <button type="button" class="btn btn-success" (click)="onOpenModal('add')">
                        <a class="nav-link" style="color:#fff">
                        Añadir Educacion <span class="sr-only">(current)</span> </a>
                    </button>
                </div>
            </div>
            <div id="main-container m-5">
                <div *ngFor="let educacion of educaciones">
                    <div class="container">
                        <div class="row align-center">
                            <div class="col-lg-6">
                                <h3>{{educacion.tituloEdu}}</h3>
                                <p>{{educacion.descEdu}}</p>
                            </div>
                            <div class="col-lg-3 self-left">
                               

                            </div>
                            <div class="col-lg-3">
                                <img src="{{educacion.imagenEdu}}" alt="" class="img-fluid img-edu">
                                <h3>{{educacion.fechaEdu}}</h3>
                            </div>

                            <div class="col text-center" *ngIf="isAdmin" >
                                
                              <div *ngIf="isLogged" class="m-3">
                                <a
                                (click)="onOpenModal('delete', educacion)"
                                class="btn btn-secondary tooltips edit" 
                                data-placement="top" 
                                data-toogle="tooltip" 
                                data-original-title="Delete"
                                ><i class="fa fa-times"></i>
                            </a>





                            <a 
                                (click)="onOpenModal('edit', educacion)"
                                class="btn btn-primary tooltips edit" 
                                data-placement="top" 
                                data-toogle="tooltip" 
                                data-original-title="Edit"
                                ><i class="fa fa-pencil"></i>
                            </a>
                              </div>

                                

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Employee Modal -->

<div class="modal fade" id="addEducacionModal" tabindex="-1" role="dialog"  aria-labelledby="addEducacionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEducacionModalLabel">Añadir Educación</h5>
                <button
                type="button" class="close" data-dismiss="modal" aria-label="Close"
                >
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddEducacion(addForm)">
                    <div class="form-group">
                        <label for="tituloEdu">Titulo</label>
                        <input type="text" ngModel name="tituloEdu" class="form-control" id="tituloEdu" placeholder="Titulo" >
                    </div>
    
                    <div class="form-group">
                        <label for="fechaEdu">Fecha</label>
                        <input type="text" ngModel name="fechaEdu" class="form-control" id="fechaEdu" placeholder="Fecha" >
                    </div>
    
                    <div class="form-group">
                        <label for="descEdu">Descripcion</label>
                        <input type="text" ngModel name="descEdu" class="form-control" id="descEdu" placeholder="Descripcion" >
                    </div>
    
                    <div class="form-group">
                        <label for="imagenEdu">Url Imagen</label>
                        <input type="text" ngModel name="imagenEdu" class="form-control" id="imagenEdu" placeholder="Imagen" >
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary"> Añadir cambios</button>

                        
                        <button type="button" id="add-educacion-form" class="btn btn-secondary" data-dismiss="modal"
                        > Cancelar </button>

                        
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div> 


<!-- Edit Modal -->
<div class="modal fade"  id="editEducacionModal" tabindex="-1" role="dialog" aria-labelledby="editEducacionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEducacionModalLabel" >
                    Editar Educacion {{editEducacion?.tituloEdu}}
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="nombre">Titulo</label>
                        <input type="text" ngModel="{{ editEducacion?.tituloEdu }}" name="tituloEdu" class="form-control" id="tituloEdu" aria-describedby="emailHelp" placeholder="Titulo" >
                    </div>
                    <input type="hidden" ngModel="{{editEducacion?.idEdu}}" name="idEdu" class="form-control" id="idEdu" placeholder="">

                    <div class="form-group">
                        <label for="descEdu">Descripcion Educacion</label>
                        <input type="text" ngModel="{{ editEducacion?.descEdu }}" name="descEdu" class="form-control" id="descEdu"  placeholder="Descripcion" >
                    </div>

                    <div class="form-group">
                        <label for="fecha">Fecha</label>
                        <input type="text" ngModel="{{ editEducacion?.fechaEdu }}" name="fechaEdu" class="form-control" id="fechaEdu"  placeholder="Fecha" >
                    </div>

                    <div class="form-group">
                        <label for="imagen">URL Imagen</label>
                        <input type="text" ngModel="{{ editEducacion?.imagenEdu }}" name="imagenEdu" class="form-control" id="imagenEdu"  placeholder="URL Imagen" >
                    </div>
                    <div class="modal-footer">
                        <button (click)="onEditEducacion(editForm.value)" data-dismiss="modal" class="btn btn-primary"
                        > Guardar Cambios</button>

                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary"
                        >Cancelar</button>
                        
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Delete Modal -->

<div data-bs-toggle="modal" data-bs-target="#deleteModalLabel" class="modal fade" id="deleteEducacionModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel" >Borrar Educacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                >
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Estás seguro de que deseas eliminar 
                    {{deleteEducacion?.tituloEdu}}?
                </p>
                <div class="modal-footer">
                    <button 
                        (click)="onDeleteEducacion(deleteEducacion!.idEdu)" class="btn btn-danger" data-dismiss="modal"
                    > Si </button>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    > No </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notificacion -->
<div class="row" *ngIf="isLogged">
    <div class="col-lg-1">
    </div>
    <div *ngIf="educaciones?.length == 0" class="col-lg-12 col-md-12 col-xl-10 text-center">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Sin Educacion!</h4>
            <p>No se ha encontrado ninguna educacion cargada.</p>
        </div>
    </div>
</div>



