<header>
    <div class="hero">
        <nav class="menu-navegacion contenedor">
            <div class="logo">
                <h2>Argentina Programa <span id="logo">#YoProgramo</span></h2>
            </div>
            <div>
                <div *ngIf="isLogged; else loggedOut">
                    <h2>Bienvenido {{nombreUsuario}}</h2>
                </div>
                <ng-template #loggedOut></ng-template>
            </div>
            <!-- <a href="/login" class="top-btn" *ngIf="!isLogged" >Iniciar Sesión</a> -->
            <a href="#" class="top-btn" (click)="onLogOut()" *ngIf="isLogged"  >Cerrar Sesión</a>

          
        </nav>
        
        



        <div id="main-container" >
              
            <section class="home" id="home">
                <div class="home-text" >
                    <h3>Hola, soy</h3>
                    <div *ngIf="perfil">
                    <h1>{{perfil.nombre}} {{perfil.apellido}}</h1>
                    <h5><span>{{perfil.titulo}}</span></h5>
                    <a href="#" class="btn text-center">Acerca de mi</a>
                    <p>{{perfil.descripcion}}</p>
                    <div class="contacto">
                        <app-social></app-social>
                    </div>
                    </div>
                    
                </div>
                <div class="col text-center" *ngIf="perfil" >
                    <div class="home-img">
                        <img src="{{perfil.fotoPerfil}}" alt="foto de perfil">
                        <div *ngIf="isAdmin">
                           <div *ngIf="isLogged">
                            <a 
                            (click)="onOpenModal('edit', perfil)"
                            class="btn btn-primary tooltips" 
                            data-placement="top" 
                            data-toogle="tooltip" 
                            data-original-title="Edit"
                            ><i class="fa fa-pencil"></i>
                        </a>
                           </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</header>


<!-- Edit Modal -->
<div class="modal fade"  id="editPerfilModal" tabindex="-1" role="dialog" aria-labelledby="editPerfilModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPerfilModalLabel" >
                    Editar Perfil {{editPerfil?.nombre}}
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" ngModel="{{ editPerfil?.nombre }}" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre"  >
                    </div>
                    <input type="hidden" ngModel="{{editPerfil?.id}}" name="id" class="form-control" id="id" placeholder="">

                    <div class="form-group">
                        <label for="nombre">Apellido</label>
                        <input type="text" ngModel="{{ editPerfil?.apellido }}" name="apellido" class="form-control" id="apellido" aria-describedby="emailHelp" placeholder="Apellido" >
                    </div>


                    <div class="form-group">
                        <label for="nombre">Titulo</label>
                        <input type="text" ngModel="{{ editPerfil?.titulo }}" name="titulo" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="Titulo" >
                    </div>
                    

                    <div class="form-group">
                        <label for="descEdu">Descripcion </label>
                        <input type="text" ngModel="{{ editPerfil?.descripcion }}" name="descripcion" class="form-control" id="descripcion" aria-describedby="emailHelp" placeholder="Descripcion" >
                    </div>

                    <div class="form-group">
                        <label for="imagen">URL Imagen</label>
                        <input type="text" ngModel="{{ editPerfil?.fotoPerfil }}" name="fotoPerfil" class="form-control" id="fotoPerfil" aria-describedby="emailHelp" placeholder="URL Imagen" >
                    </div>

                    <div class="form-group">
                        <label for="instagram">Instagram</label>
                        <input type="text" ngModel="{{ editPerfil?.socialIg }}" name="socialIg" class="form-control" id="socialIg" aria-describedby="emailHelp" placeholder="URL Instagram" >
                    </div>

                    <div class="form-group">
                        <label for="twitter">Twitter</label>
                        <input type="text" ngModel="{{ editPerfil?.socialTw }}" name="socialTw" class="form-control" id="socialTw" aria-describedby="emailHelp" placeholder="URL Twitter" >
                    </div>

                    <div class="form-group">
                        <label for="linkedin">Linkedin</label>
                        <input type="text" ngModel="{{ editPerfil?.socialIn }}" name="socialIn" class="form-control" id="socialIn" aria-describedby="emailHelp" placeholder="URL Linkedin" >
                    </div>

                    <div class="form-group">
                        <label for="github">Github</label>
                        <input type="text" ngModel="{{ editPerfil?.socialGb }}" name="socialGb" class="form-control" id="socialGb" aria-describedby="emailHelp" placeholder="URL Github" >
                    </div>



                    <div class="modal-footer">
                        <button  (click)="onEditPerfil(editForm.value)" data-dismiss="modal" class="btn btn-primary"
                        > Guardar </button>

                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary"
                        >Cancelar</button>
                        
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
