.box{
    box-sizing:border-box;
   
    text-align:justified;
    height: max-content;
    margin: 10px;
    padding:20px;

    background-color: #fff;
    border-radius: 40px 40px 40px 40px;
    outline: 4px solid #b16ec4;
}

.contenido{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}


img{
    height:100px;
    margin-left: 20%;
    
}

.edit{
    display:block;
    float:right;
}